
		

		:root {
			/* General --------------------------------- */
			--u-base-font-size: 100%;

			

			/* Icons -------------------------------- */
			

			/* Sidebar --------------------------------- */
			--u-sidebar-synchronise-label: '';

			/* Note list ----------------------------- */
			
			
				--u-note-list-dividers: none;
			

			/* Editor -------------------------------- */
			--u-editor-paragraph-spacing: 1.5rem;
			--u-editor-margin-right: auto ;
			--u-editor-margin-left: 0 ;

			/*
				properties that currently can't be selected via the UI, but maybe should...

				--u-font-family-system: 'Segoe UI', sans-serif;
				--u-font-family-system-rounded: 'Segoe UI', sans-serif;
				--u-sidebar-label-font-size: 1.5rem;
				--u-sidebar-synchronise-label-color: hsl(0, 0%, 50%);
			*/
		}

			
				@media(prefers-color-scheme: light) {
					/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.CodeMirror.CodeMirror.CodeMirror.CodeMirror { background: #f5f5f5; color: #202020; }
.CodeMirror.CodeMirror.CodeMirror div.CodeMirror-selected { background: #e0e0e0; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-line::selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span::selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-line::-moz-selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span::-moz-selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-gutters { background: #f5f5f5; border-right: 0px; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-guttermarker { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-linenumber { color: #b0b0b0; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-cursor { border-left: 1px solid #505050; }

.CodeMirror.CodeMirror.CodeMirror span.cm-comment { color: #8f5536; }
.CodeMirror.CodeMirror.CodeMirror span.cm-atom { color: #aa759f; }
.CodeMirror.CodeMirror.CodeMirror span.cm-number { color: #aa759f; }

.CodeMirror.CodeMirror.CodeMirror span.cm-property, .CodeMirror.CodeMirror.CodeMirror span.cm-attribute { color: #90a959; }
.CodeMirror.CodeMirror.CodeMirror span.cm-keyword { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror span.cm-string { color: #f4bf75; }

.CodeMirror.CodeMirror.CodeMirror span.cm-variable { color: #90a959; }
.CodeMirror.CodeMirror.CodeMirror span.cm-variable-2 { color: #6a9fb5; }
.CodeMirror.CodeMirror.CodeMirror span.cm-def { color: #d28445; }
.CodeMirror.CodeMirror.CodeMirror span.cm-bracket { color: #202020; }
.CodeMirror.CodeMirror.CodeMirror span.cm-tag { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror span.cm-link { color: #aa759f; }
.CodeMirror.CodeMirror.CodeMirror span.cm-error { background: #ac4142; color: #505050; }

.CodeMirror.CodeMirror.CodeMirror .CodeMirror-activeline-background { background: #DDDCDC; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-matchingbracket { color: #f5f5f5 !important; background-color: #6A9FB5 !important}

				}

				@media(prefers-color-scheme: dark) {
					:root {
						
	--g-systemBlue: rgba(10, 132, 255, 1);
	--g-systemBrown: rgba(172, 142, 104, 1);
	--g-systemGray: rgba(152, 152, 157, 1);
	--g-systemGreen: rgba(50, 215, 75, 1);
	--g-systemIndigo: rgba(94, 92, 230, 1);
	--g-systemOrange: rgba(255, 159, 10, 1);
	--g-systemPink: rgba(255, 55, 95, 1);
	--g-systemPurple: rgba(191, 90, 242, 1);
	--g-systemRed: rgba(255, 69, 58, 1);
	--g-systemTeal: rgba(90, 200, 245, 1);
	--g-systemYellow: rgba(255, 214, 10, 1);

	/* Labels */
	--g-labelColor: rgba(255, 255, 255, 0.847);
	--g-secondaryLabelColor: rgba(255, 255, 255, 0.549);
	--g-tertiaryLabelColor: rgba(255, 255, 255, 0.247);
	--g-quaternaryLabelColor: rgba(255, 255, 255, 0.098);

	/* Text */
	--g-textColor: rgba(255, 255, 255, 1);
	--g-textColorDark: rgba(0, 0, 0, 1);
	--g-placeholderTextColor: rgba(255, 255, 255, 0.247);
	--g-selectedTextColor: rgba(255, 255, 255, 1);
	--g-textBackgroundColor: rgba(30, 30, 30, 1);
	--g-selectedTextBackgroundColor: rgba(63, 99, 139, 1);
	--g-keyboardFocusIndicatorColor: rgba(26, 169, 255, 0.298);
	--g-unemphasizedSelectedTextColor: rgba(255, 255, 255, 1);
	--g-unemphasizedSelectedTextBackgroundColor: rgba(70, 70, 70, 1);

	/* Content */
	--g-alternatingContentBackgroundColorsEven: rgba(30, 30, 30, 1);
	--g-alternatingContentBackgroundColorsOdd: rgba(255, 255, 255, 0.047);
	--g-linkColor: rgba(65, 156, 255, 1);
	--g-separatorColor: rgba(255, 255, 255, 0.098);
	--g-selectedContentBackgroundColor: rgba(0, 88, 208, 1);
	--g-selectedContentBackgroundColor--h: 215;
	--g-selectedContentBackgroundColor--s: 100%;
	--g-selectedContentBackgroundColor--l: 41%;
	--g-unemphasizedSelectedContentBackgroundColor: rgba(70, 70, 70, 1);

	/* Menus */
	--g-selectedMenuItemTextColor: rgba(255, 255, 255, 1);

	/* Tables */
	--g-gridColor: rgba(26, 26, 26, 1);
	--g-headerTextColor: rgba(255, 255, 255, 1);

	/* Controls */
	--g-controlAccentColor--h: 211;
	--g-controlAccentColor--s: 100%;
	--g-controlAccentColor--l: 50%;
	--g-controlAccentColor--hsl: var(--g-controlAccentColor--h), var(--g-controlAccentColor--s), var(--g-controlAccentColor--l);
	--g-controlAccentColor: hsla(var(--g-controlAccentColor--hsl), 1);
	--g-controlColor: rgba(255, 255, 255, 0.247);
	--g-controlColor--rgb: 255, 255, 255;
	--g-controlColor--hsl: 0, 0%, 100%;
	--g-controlBackgroundColor: rgba(30, 30, 30, 1);
	--g-controlTextColor: rgba(255, 255, 255, 0.847);
	--g-disabledControlTextColor: rgba(255, 255, 255, 0.247);
	--g-scrubberTexturedBackground: rgba(255, 255, 255, 1);
	--g-selectedControlColor: rgba(63, 99, 139, 1);
	--g-selectedControlTextColor: rgba(255, 255, 255, 0.847);
	--g-alternateSelectedControlTextColor: rgba(255, 255, 255, 1);
	--g-alternateSelectedControlTextColor--rgb: 255, 255, 255;

	/* Windows */
	--g-windowBackgroundColor: rgba(50, 50, 50, 1);
	--g-windowFrameTextColor: rgba(255, 255, 255, 0.847);
	--g-underPageBackgroundColor: rgba(40, 40, 40, 1);
	--g-underPageBackgroundColor--rgb: 40, 40, 40;

	/* Highlights & Shadows */
	--g-findHighlightColor: rgba(255, 255, 0, 1);
	--g-highlightColor: rgba(180, 180, 180, 1);
	--g-highlightColor--rgb: 180, 180, 180;
	--g-shadowColor: rgba(0, 0, 0, 1);
	--g-shadowColor--rgb: 0, 0, 0;


						
					}

					/*

    Name:       Base16 Default Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.CodeMirror.CodeMirror.CodeMirror.CodeMirror { background: #151515; color: #e0e0e0; }
.CodeMirror.CodeMirror.CodeMirror div.CodeMirror-selected { background: #303030; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-line::selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span::selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span > span::selection { background: rgba(48, 48, 48, .99); }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-line::-moz-selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span::-moz-selection, .CodeMirror.CodeMirror.CodeMirror .CodeMirror-line > span > span::-moz-selection { background: rgba(48, 48, 48, .99); }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-gutters { background: #151515; border-right: 0px; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-guttermarker { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-guttermarker-subtle { color: #505050; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-linenumber { color: #505050; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-cursor { border-left: 1px solid #b0b0b0; }
.CodeMirror.CodeMirror.CodeMirror.cm-fat-cursor .CodeMirror-cursor { background-color: #8e8d8875 !important; }
.CodeMirror.CodeMirror.CodeMirror .cm-animate-fat-cursor { background-color: #8e8d8875 !important; }

.CodeMirror.CodeMirror.CodeMirror span.cm-comment { color: #8f5536; }
.CodeMirror.CodeMirror.CodeMirror span.cm-atom { color: #aa759f; }
.CodeMirror.CodeMirror.CodeMirror span.cm-number { color: #aa759f; }

.CodeMirror.CodeMirror.CodeMirror span.cm-property, .CodeMirror.CodeMirror.CodeMirror span.cm-attribute { color: #90a959; }
.CodeMirror.CodeMirror.CodeMirror span.cm-keyword { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror span.cm-string { color: #f4bf75; }

.CodeMirror.CodeMirror.CodeMirror span.cm-variable { color: #90a959; }
.CodeMirror.CodeMirror.CodeMirror span.cm-variable-2 { color: #6a9fb5; }
.CodeMirror.CodeMirror.CodeMirror span.cm-def { color: #d28445; }
.CodeMirror.CodeMirror.CodeMirror span.cm-bracket { color: #e0e0e0; }
.CodeMirror.CodeMirror.CodeMirror span.cm-tag { color: #ac4142; }
.CodeMirror.CodeMirror.CodeMirror span.cm-link { color: #aa759f; }
.CodeMirror.CodeMirror.CodeMirror span.cm-error { background: #ac4142; color: #b0b0b0; }

.CodeMirror.CodeMirror.CodeMirror .CodeMirror-activeline-background { background: #202020; }
.CodeMirror.CodeMirror.CodeMirror .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

				
			
			
			
	